<% layout('layouts/boilerplate') %>
<link rel="stylesheet" href="/css/home.css">
<div>
  <div class="bg"></div>
  <div class="center">
    <h1 class='mt-5 title'>Type Tile</h1>
    <div class="buttons">
      <a class="button" href="/play">Play</a>
      <a class="button" aria-current="page" href="/leaderboard">Leaderboard</a>
      <a class="button" href="/settings">Settings</a>
    </div>
  </div>
</div>
<script src='/javascripts/home.js'></script>
