<% layout('layouts/boilerplate') %>
<!-- Link play css -->
<link rel="stylesheet" href="/css/play.css">
<h1 class='mt-5'></h1>
<h2>0</h2>
<div class="container">
    <!-- Div for where the letters will appear -->
    <div class="row letterspace">

    </div>
    <!-- This is the whole keyboard -->
    <div class="row keyboard">
        <!-- First row of keyboard -->
        <div class="row keyrow1">
            <div class="col-1">
                <button class="btn btn-primary q-key">Q</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary w-key">W</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary e-key">E</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary r-key">R</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary t-key">T</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary y-key">Y</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary u-key">U</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary i-key">I</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary o-key">O</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary p-key">P</button>
            </div>
        </div>
        <!-- Second row of keyboard -->
        <div class="row keyrow2">
            <div class="col-1">
                <button class="btn btn-primary a-key">A</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary s-key">S</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary d-key">D</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary f-key">F</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary g-key">G</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary h-key">H</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary j-key">J</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary k-key">K</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary l-key">L</button>
            </div>
        </div>
        <!-- Third row of keyboard -->
        <div class="row keyrow3">
            <div class="col-1">
                <button class="btn btn-primary z-key">Z</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary x-key">X</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary c-key">C</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary v-key">V</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary b-key">B</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary n-key">N</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary m-key">M</button>
            </div>
            <div class="col-1">
                <button class="btn btn-primary ,-key">,</button>
            </div>
        </div>
        <!-- Fourth row of keyboard -->
        <div class="row keyrow4">
            <div class="col-5 offset-2">
                <button class="btn btn-primary space-key">Space</button>
            </div>
        </div> 
     </div>
</div>   
<script src='/javascripts/game.js'></script>