<% layout('layouts/boilerplate') %>
<!-- Link play css -->
<link rel="stylesheet" href="/css/play.css">
<h1 class='mt-5'>This will be where the game is played</h1>
<button class="btn btn-primary a-key">A</button>
<script src='/javascripts/game.js'></script>