body {
  background-color: lightblue;
}
p {
  color: black;
}
h1 {
  background: white;
  -webkit-box-shadow: 0 0 1px rgba(85, 107, 47, 0.25);
  box-shadow: 0 0 1px rgba(85, 107, 47, 0.25);
  color: black;
}

button.btn {
  background-color: white;
  color: black;
  width: 100%;
  height: 40px;
  padding: 0px;
}
button.a-key {
  color: black;
  background-color: white;
}

button.hover {
  color: white;
  background-color: black;
  transition: 0ms;
}

div.col-1 {
  padding: 0px;
  width: 100px;
}
div.col-3 {
  padding: 0px;
}
div.col-4 {
  padding: 0px;
}
div.keyrow4 {
  margin-left: 40px;
}
div.letterspace {
  height: 25rem;
}
div.keyboard {
  margin-left: 170px;
  width: 100%;
}
div.container {
  width: 100%;
  max-width: 1500px;
}
main.container {
  max-width: 1500px;
}
