<% layout('layouts/boilerplate') %>
<% layout('layouts/boilerplate') %>
<!-- Link play css -->
<link rel="stylesheet" href="/css/game.css">
<h1 class='mt-5'></h1>
<h2 class="score">0 points</h2>
<h3 class="lives">3 lives remaining!</h3>
<%- include('../partials/keyboard-and-letterspace') %>
<script>
  const randSentences = <%-JSON.stringify(randSentences)%>;
  const mode = 'danger';
</script>
<script src='/javascripts/game.js'></script>