body {
  background-color: red;
}

header {
  background: darkolivegreen;
  -webkit-box-shadow: 0 0 1px rgba(85, 107, 47, 0.25);
          box-shadow: 0 0 1px rgba(85, 107, 47, 0.25);
  color: darkolivegreen;
}
